{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Login</h1>
<br>
Recuerda tu usuario y tu contraseña para acceder.
<form action="{{ path('login') }}" method="post">
    <table align="center">
        <tr>
            <td align="right">
                <label for="username">Usuario:</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Contraseña:</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-primary" type="submit">Acceder</button>
            </td>
        </tr>
    </table>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
</form>
    <br>
    <p>¿No tienes cuenta? ¡Regístrate ahora!</p>
    <a href="{{ path('registro') }}"><button class="btn btn-success">Registro</button></a>
{% endblock %}
